:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

input[type="search"] {
  width: 100%;
  padding: 0.6em;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 1em;
  font-family: inherit;
  margin-bottom: 1em;
}

body {
  position: relative;
  height: 90vh;
}

.add {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  font-weight: 900;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: none;
  background-color: #00ff48;
  color: #ffffffe2;
  z-index: 3;
}